.runewords {
   margin-top: 3rem;

   &__heading {
      @include exocet-heading(1.4rem, 500, 0.18em);
      color: $color-accent;
      margin-bottom: 0.5rem;
   }

   &__hint {
      color: $color-text-muted;
      font-size: 0.9rem;
      margin-bottom: 1rem;
   }

   &__list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;
   }
}

.runeword-card {
   background: rgba(0, 0, 0, 0.4);
   padding: 1rem 1.2rem;
   border: 2px solid #46331f;
   outline: 1px solid #c8a567;
   border-radius: 4px;
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
   color: #dcdcdc;
   font-family: "Exocet", serif;
   text-align: center;
   margin-inline: auto;

   display: flex;
   gap: 1rem;

   @media (max-width: 500px) {
      flex-direction: column;
      align-items: center;
   }

   &__icon {
      height: auto;
      image-rendering: pixelated;
      align-content: center;

      img {
         @media (max-width: 500px) {
            max-width: 50%;
            display: inline;
         }
      }
   }

   &__content {
      flex: 1;
   }

   &__runes {
      display: block;
      font-family: "Georgia", serif;
      font-size: 1rem;
      color: #b8c8ff;
      margin-bottom: 0.2rem;
      text-shadow: 0 0 4px rgba(60, 80, 255, 0.7);
   }

   &__name {
      font-family: "Exocet", serif;
      font-size: 1.4rem;
      font-weight: 500;
      letter-spacing: 0.15em;

      color: #c8a567;
      margin-bottom: 0.35rem;
      text-shadow: 0 0 5px rgba(255, 220, 150, 0.6);
   }

   &__meta {
      font-size: 0.75rem;
      color: $color-text-muted;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 0.5rem;
   }

   &__effects {
      list-style: none;
      padding: 0;
      margin-top: 0.5rem;
      line-height: 1.2;
      font-size: 0.95rem;

      li {
         margin-bottom: 0.25rem;
      }
   }

   &__item {
      display: block;
      font-family: "Georgia", serif;
      font-size: 0.85rem;
      color: #999;
      margin-bottom: 0.4rem;
   }
}
