*,
*::before,
*::after {
   box-sizing: border-box;
}

html,
body {
   margin: 0;
   padding: 0;
}

body {
   min-height: 100vh;
   font-family: $font-body;
   font-weight: 300;
   color: $color-text;
   background-color: $color-bg;
   line-height: 1.5;
}

img {
   max-width: 100%;
   display: block;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

.container {
   width: 100%;
   max-width: $container-max-width;
   margin-inline: auto;
   padding-inline: $spacing-unit * 1.5;
}

.main {
   padding-block: $spacing-unit * 2;
}
